# Android Studio
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
*.iml
build/
captures/

#NDK
.externalNativeBuild

# Local configuration file (sdk path, etc)
local.properties

#built application files
*.apk
*.ap_

# files for the dex VM
*.dex
.cxx

# Java class files
*.class

# Windows thumbnail db
Thumbs.db

# OSX files
.DS_Store

# others
todo.txt
